*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head{
    background-color: rgb(239, 71, 71);
    display: flex;
    padding: 10px;
     padding-left: 50px;

}
.icon{
    color:white;
    height: 30px;
    width: 30px;
    font-size: 30px;
    
}
.icons{
    color:white;
    height: 30px;
    width: 30px;
    margin-left: 1200px;
    font-size: 30px;
    
}
.first{
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
}
.body{
    background-color:black;
     padding-left: 150px;
     padding: 20px;
    
}
#tag{
    color:black;
}
.body h1{
    color: white;
    padding: 20px;
    
}
.all{
    display: grid;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    padding-left: 150px;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
}
    
.first img{
    height: 220px;
    width: 330px;
    padding:30px;
    margin-top: 30px;
    margin-left: 15px;
    padding-right: 90px;
    padding-bottom: 10px;
   
    

}



.cart-icon{
    color: black;
    height: 50px;
    width: 65px;
    background-color: green;
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: 248px;
    left: 235px;
    font-size: 20px;
    border-radius: 0 15px 15px 0;
}
.first:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}
span{
    font-size: 20;
    font: bold;
}
.first img :hover{
    transition: 0.5ms;
    transition-behavior: inherit;
    }
.cart-panel{
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 15px;
  transition: 0.3s;
  overflow-y: auto;
}
.cart-panel.active{
  right: 0;
}
.body.disable {
  pointer-events: none;
  opacity: 0.3;
}

body.noscroll {
  overflow: hidden;
}
.cart-panel {
  z-index: 1000;
}
