.cart-panel{
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 15px;
  transition: 0.3s;
  overflow-y: auto;
}
.cart-panel.active{
  right: 0;
}
.body.disable {
  pointer-events: none;
  opacity: 0.3;
}

body.noscroll {
  overflow: hidden;
}
.cart-panel {
  z-index: 1000;
}
