*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.head{
    padding-left:150px;
    display:flex;
    background-color: rgb(233, 81, 81);
    
}
#food{
    float: right;
    margin-left: 1000px;
    width: 40px;
    height: 40px;
   
    
}
#logo{
    width: 40px;
    height: 40px;
    margin-left: 10px;

}
.body{
    background-color: black;
}
.body h1{
    color: white;
    padding: 50px;
}
#sub1{
 margin: 30px;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    margin-left: 70px;
}
#sub2{
     margin: 30px;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    margin-left: 70px;
}
#sub3{ 
    margin: 30px;
    margin-left: 70px;
    border-radius:10px;
    border-style: solid;
    border-color:white;
}
.first img{
    width: 250px;
    height: 300px;
   
}
.sec img{
    width: 250px;
    height: 300px;
  
}
.third img{
    width: 250px;
    height: 300px;
    
}